@import "../mixins";
@import "../variables";

:export {
    colorWhite: safe-hsla(map-get($colorWhite, default));
    colorBlack: safe-hsla(map-get($colorBlack, default));
    colorGray: safe-hsla(map-get($colorGray, default));
    colorGrayDark: safe-hsla(map-get($colorGray, dark));
    colorError: safe-hsla(map-get($colorRed, default));
}
