@import "./src/resources/styles/variables";
@import "./src/resources/styles/mixins";

.container {
    position: sticky;
    height: 4rem;
    max-height: 4rem;
    bottom: 0;
    padding: 0;
    z-index: 10;
}
