@import "./src/resources/styles/variables";
@import "./src/resources/styles/mixins";

.container {
    position: sticky;
    height: 3.5rem;
    max-height: 3.5rem;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 10;
    flex-direction: row;
    align-items: center;

    .unit {
        justify-content: center;
    }
}
