@import "./src/resources/styles/variables";
@import "./src/resources/styles/mixins";

.container {
    position: sticky;
    flex-direction: row;
    height: 6rem;
    max-height: 6rem;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    background-color: safe-hsla(map-get($colorWhite, default));
    z-index: 10;
    transition: map-get($transition, default);

    @include respond-to("medium") {
        background-color: safe-hsla(map-get($colorYellow, light));
    }
}
