@import "resources/styles/mixins";
@import "resources/styles/variables";

.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    color: inherit;
    min-width: 100%;
    padding: map-get($gap, large);

    &[variant~="full-width"] {
        padding: 0;
    }

    &[variant~="black"] {
        background-color: safe-hsla(map-get($colorBlack, default));
        color: safe-hsla(map-get($colorWhite, default));

        a {
            color: inherit;
        }
    }

    &[variant~="red"] {
        background-color: safe-hsla(map-get($colorRed, default));
        color: safe-hsla(map-get($colorWhite, default));

        a {
            color: inherit;
        }
    }

    &[variant~="yellow"] {
        background-color: safe-hsla(map-get($colorYellow, light));
        color: safe-hsla(map-get($colorBlack, default));

        a {
            color: inherit;
        }
    }

    &[variant~="blue"] {
        background-color: safe-hsla(map-get($colorBlue, light));
        color: safe-hsla(map-get($colorBlack, default));

        a {
            color: inherit;
        }
    }

    &[variant~="default"],
    &[variant~="white"] {
        background-color: safe-hsla(map-get($colorWhite, default));
        color: safe-hsla(map-get($colorBlack, default));

        a {
            color: inherit;
        }
    }

    &[variant~="text-color-red"] {
        color: safe-hsla(map-get($colorRed, default));
    }

    .unit {
        display: flex;
        flex-direction: column;
    }
}
