@import "../mixins";
@import "./colors";
@import "./gap";
@import "./transition";

$fontFamilyBase: "Open Sans", sans-serif;
$fontFamilyHeading: "Open Sans", sans-serif;
$fontSizeDefault: (
    px: 16px,
    "%": 100%,
    rem: 1rem,
);

$font: (
    default: (
        font-family: $fontFamilyBase,
        font-size: map-get($fontSizeDefault, "%"),
        line-height: calc(1em + 0.5rem),
        font-weight: 400,
        color: safe-hsla(map-get($colorBlack, default)),
    ),
    link: (
        display: inline-block,
        position: relative,
        font-size: inherit,
        line-height: inherit,
        font-weight: bolder,
        color: inherit,
        text-decoration: none,
        background-color: transparent,
        cursor: pointer,
        "-webkit-text-decoration-skip": objects,
        _hover: (
            outline: 0,
            text-decoration: none,
        ),
        _hoverAfter: (
            width: 0,
        ),
        _after: (
            position: absolute,
            left: 0,
            right: 0,
            bottom: -0.0125rem,
            content: " ",
            width: 100%,
            height: 0.01625rem,
            background-color: currentColor,
            transition: map-get($transition, default),
        ),
        _active: (
            transform: scale(0.95),
        ),
    ),
    heading: (
        h1: (
            none: (
                font-size: 1.625rem,
            ),
            medium: (
                font-size: 2.0625rem,
            ),
        ),
        h2: (
            none: (
                font-size: 1.4375rem,
            ),
            medium: (
                font-size: 1.75rem,
            ),
        ),
        h3: (
            none: (
                font-size: 1.4375rem,
            ),
            medium: (
                font-size: 1.5rem,
            ),
        ),
        h4: (
            none: (
                font-size: 1.125rem,
            ),
            medium: (
                font-size: 1.125rem,
            ),
        ),
        h5: (
            none: (
                font-size: 1rem,
            ),
            medium: (
                font-size: 1rem,
            ),
        ),
        h6: (
            none: (
                font-size: 1rem,
            ),
            medium: (
                font-size: 1rem,
            ),
        ),
    ),
    paragraph: (
        font-size: 1rem,
        line-height: 1.25,
        font-weight: 400,
        color: inherit,
        margin: 0,
        padding: 0,
        overflow-wrap: break-word,
    ),
);

%heading {
    font-family: $fontFamilyHeading;
    line-height: 1.5;
    font-weight: 700;
    color: inherit;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    transition: map-get($transition, default);
}
