@import "resources/styles/mixins";
@import "resources/styles/variables";

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
